*{
		margin: 0px;
		padding: 0px;
}

body{
		width: 100%;
		height: 100%;
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

iframe{
		border-style: none;
		outline: none;
		width:100%;
		height: 100%;
		background: #000;
}

body {

}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
